<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Edit Page</title>
</head>
<body>
    <section class="login-ctn">
        <form action="/save" method="post">
            <h1>Add a Friend</h1>
            <input type="hidden" name="id">
            <div>
                <label>First Name</label>
                <input type="text" name="firstName">
            </div>
            <div>
                <label>Last Name</label>
                <input type="text" name="lastName">
            </div>
            <div>
                <label>Rank</label>
                <input type="text" name="rank">
            </div>
            <div>
                <label>Points</label>
                <input type="text" name="points">
            </div>
            <br>
            <button type="submit">Submit</button>
        </form>
    </section>
</body>