<link rel="stylesheet" href="styles.css">

<body>
    <div class="home-ctn">
        <div>
            <h1 class="home-head">Welcome to Your LeaderBoard Page</h1>
        </div>
        <div>
            <div><a href="#">About</a></div>
            <div><a href="/leaderboard">View Table</a></div>
            <div><a href="#">New Table</a></div>
            <div><a href="#">Log Out</a></div>
        </div>
    </div>

</body>