<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="home-ctn">
        <div> 
            <h1 class="home-head">Welcome to Your <span class="head-text">LeaderBoard</span> Page</h1>
        </div>
        <div class="home-btns">
            <div><a href="#" class="w3-animate-fading">About</a></div>
            <div><a href="/leaderboard" class="w3-animate-fading">View Table</a></div>
            <div><a href="#" class="w3-animate-fading">New Table</a></div>
            <div><a href="/logout" class="w3-animate-fading">Log Out</a></div>
        </div>
    </div>

</body>