<link rel="stylesheet" href="styles.css">

<body>
    <div class="home-ctn">
        <div>
            <h1 class="home-head">Welcome to Your <span class="head-text">LeaderBoard</span> Page</h1>
        </div>
        <div class="home-btns">
            <div><a href="#">About</a></div>
            <div><a href="/leaderboard">View Table</a></div>
            <div><a href="#">New Table</a></div>
            <div><a href="/logout">Log Out</a></div>
        </div>
    </div>

</body>